In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('./car_train.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38506 entries, 0 to 38505
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rownum            38506 non-null  int64
 1   price             38503 non-null  float64
 2   acquisition_date  38506 non-null  object
 3   badge             36933 non-null  object
 4   body_type         38504 non-null  object
 5   category          36018 non-null  object
 6   colour            36545 non-null  object
 7   cylinders         36018 non-null  float64
 8   economy           34586 non-null  float64
 9   fuel              38478 non-null  object
 10  last_updated      38506 non-null  object
 11  litres            36018 non-null  float64
 12  location          38506 non-null  int64
 13  make              38506 non-null  object
 14  model             38506 non-null  object
 15  odometer          36956 non-null  float64
 16  transmission      38499 non-null  object
 17  year              38506 non-null  int64
dtypes: float64(5), int64(3), object(10)
memory usage: 5.3+ MB

In [7]:
df.head(10)

,rownum,price,acquisition_date,badge,body_type,category,colour,cylinders,economy,fuel,last_updated,litres,location,make,model,odometer,transmission,year
0,0,8560.0,2017-06-22,RS,Hatch,Used,Silver,4.0,8.9,Unleaded,2017-06-22,2.0,2,Subaru,Impreza,134944.0,Manual,2009
1,3,17074.0,2017-06-22,2.0i,Hatch,Used,Silver,4.0,6.8,Unleaded,2017-06-22,2.0,3,Subaru,Impreza,33304.0,Automatic,2014
2,4,8526.0,2017-06-22,R,Hatch,Used,Blue,4.0,8.9,Unleaded,2017-06-22,2.0,6,Subaru,Impreza,81668.0,Manual,2007
3,5,10952.0,2017-06-22,R,Hatch,Used,Black,4.0,8.8,Unleaded,2017-06-22,2.0,8,Subaru,Impreza,48051.0,Automatic,2009
4,6,33964.0,2017-06-22,WRX STI,Sedan,Used,Grey,4.0,10.5,Unleaded,2017-06-22,2.5,3,Subaru,Impreza,51516.0,Manual,2011
5,8,18070.0,2017-06-22,2.0i-S,Hatch,Used,Black,4.0,6.8,Unleaded,2017-06-22,2.0,7,Subaru,Impreza,60294.0,Automatic,2012
6,9,12019.0,2017-06-22,RS,Sedan,Used,Grey,4.0,8.9,Unleaded,2017-06-22,2.0,3,Subaru,Impreza,96160.0,Manual,2009
7,10,10860.0,2017-06-22,R,Sedan,Private,Red,4.0,8.8,Unleaded,2017-06-22,2.0,2,Subaru,Impreza,103380.0,Automatic,2011
8,11,12997.0,2017-06-22,RS,Sedan,Used,Silver,4.0,8.9,Unleaded,2017-06-22,2.0,2,Subaru,Impreza,88631.0,Manual,2008
9,12,30216.0,2017-06-22,2.0i Premium,Hatch,Other,Red,4.0,6.6,Unleaded,2017-06-22,2.0,1,Subaru,Impreza,213.0,Automatic,2017